---
import type { SiteData } from "@scripts/config/site.types";

interface Props {
  data: SiteData;
}

const { data } = Astro.props;
const year = new Date().getFullYear();
---

<footer class="flex flex-col items-center gap-6 w-full p-4 py-16 bg-neutral-950">
  <section class="w-[min(var(--max-width),100%)] flex justify-end gap-4">
    <div>
      <h2>Legal</h2>
      <ul class="">
        {
          data.footer.links.map((item) => (
            <li>
              <a href={item.href} class="transition hover:text-cyan-200">
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      <h2>Legal</h2>
      <ul class="">
        {
          data.footer.links.map((item) => (
            <li>
              <a href={item.href} class="transition hover:text-cyan-200">
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
  <div class="w-[min(var(--max-width),100%)] h-px bg-neutral-800"></div>
  <section class="w-[min(var(--max-width),100%)]">
    <p class="">&copy; {year} {data.footer.legal}</p>
  </section>
</footer>
