---
import type { SiteData } from "@scripts/config/site.types";
import Link from "@components/ui/Link.astro";

interface Props {
  data: SiteData;
}

const { data } = Astro.props;
---

<header class="sticky top-0 left-0 z-40 w-[min(var(--max-width),100%)] bg-red-400">
  <nav class="flex items-center justify-between gap-4 rounded-2xl px-2 py-2">
    <a href="#hero" class="">
      {data.brand.name}
    </a>
    <ul class="flex items-center gap-2">
      {
        data.nav.map((item) => (
          <li>
            <a class="transition hover:text-cyan-200" href={item.href}>
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>
    <Link href={data.brand.primaryCta.href}>{data.brand.primaryCta.label}</Link>
  </nav>
</header>
