---
import type { SiteData } from "@scripts/config/site.types";
import Link from "@components/ui/Link.astro";

interface Props {
  data: SiteData;
}

const { data } = Astro.props;
---

<header class="sticky top-0 left-0 z-40 w-[min(var(--max-width),100%)]">
  <nav class="flex items-center justify-between gap-4 rounded-2xl px-4 py-4">
    <a href="#hero" class="">
      {data.brand.name}
    </a>
    <div
      class="flex items-center gap-16 p-2 pl-6 bg-neutral-800 bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-20 rounded-full"
    >
      <ul class="flex items-center gap-16 font-medium">
        {
          data.nav.map((item) => (
            <li>
              <a class="" href={item.href}>
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
      <Link href={data.brand.primaryCta.href}>{data.brand.primaryCta.label}</Link>
    </div>
    <span></span>
  </nav>
</header>
