---
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import Hero from "@components/sections/hero/Hero.astro";
import rawData from "@data/data.json";
import Layout from "@layouts/Layout.astro";
import type { SiteData } from "@scripts/config/site.types";

const data = rawData as SiteData;
---

<Layout title={data.seo.title} description={data.seo.description}>
  <Header data={data} />
  <main class="w-full flex-1 flex flex-col items-center gap-12 min-h-[1000vh]">
    <Hero data={data} />
    <!-- <Hero data={data} />
    <Features data={data} />
    <Segments data={data} />
    <Integrations data={data} />
    <Metrics data={data} />
    <Faq data={data} />
    <Cta data={data} /> -->
  </main>
  <Footer data={data} />
</Layout>
