---
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import Section from "@components/layout/Section.astro";
import Hero from "@components/sections/hero/Hero.astro";
import rawData from "@data/data.json";
import Layout from "@layouts/Layout.astro";
import type { SiteData } from "@scripts/config/site.types";

const data = rawData as SiteData;
---

<Layout title={data.seo.title} description={data.seo.description}>
  <Header data={data} />
  <main class="w-full flex-1 flex flex-col items-center gap-12">
    <Hero data={data} />
    <div class="flex flex-col items-center gap-12 bg-neutral-950 w-full">
      <Section class="flex flex-col gap-12">
        <h2 class="text-5xl font-semibold max-w-[20ch]">
          {data.brand.name} es el CRM inteligente para equipos de startups
        </h2>
        <p class="max-w-[70ch]">{data.brand.description}</p>
      </Section>
    </div>
    <!--
    <Features data={data} />
    <Segments data={data} />
    <Integrations data={data} />
    <Metrics data={data} />
    <Faq data={data} />
    <Cta data={data} /> -->
  </main>
  <Footer data={data} />
</Layout>
