---
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import Features from "@components/sections/features/Features.astro";
import Hero from "@components/sections/hero/Hero.astro";
import Plans from "@components/sections/plans/Plans.astro";
import rawData from "@data/data.json";
import Layout from "@layouts/Layout.astro";
import type { SiteData } from "@scripts/config/site.types";

const data = rawData as SiteData;
---

<Layout title={data.seo.title} description={data.seo.description}>
  <Header data={data} />
  <main class="flex-1 flex flex-col items-center gap-12 w-full">
    <Hero data={data} />
    <!-- <div
      class="relative flex-1 flex flex-col items-center gap-12 w-full bg-neutral-950 before:absolute before:bottom-full before:h-12 before:w-full before:bg-neutral-950 after:absolute after:top-full after:h-12 after:w-full after:bg-neutral-950"
    > -->
    <Features data={data} />
      <Plans />
    <!-- </div> -->
  </main>
  <Footer data={data} />
</Layout>
