---
import { plans } from "@data/data.json";
import PlanCard from "./PlanCard.astro";
---

<section id="plans" class="flex flex-col gap-12 w-[min(1160px,100%)]">
  <header class="flex flex-col items-center gap-2 text-center">
    <h2 class="text-5xl">Plans that grow with you.</h2>
    <p>Flexible pricing for teams of every size and stage. Upgrade, downgrade, or cancel anytime.</p>
  </header>
  <div class="flex gap-4">
    {
      plans.map(({ name, description, price, features, isPrincipal }) => (
        <PlanCard name={name} description={description} price={price} features={features} isPrincipal={isPrincipal} />
      ))
    }
  </div>
</section>
