---
import { sections } from "@data/data.json";
import PlanCard from "./PlanCard.astro";

const { plans: plansSection } = sections;
const { title, description, items } = plansSection;
---

<section
  id="plans"
  class="relative flex w-full flex-col items-center gap-16 px-4 after:absolute after:inset-0 after:-z-10 after:bg-linear-to-b after:from-neutral-950 after:to-transparent"
>
  <header class="flex w-[min(1160px,100%)] flex-col items-center gap-2 text-center">
    <h2 class="text-5xl">{title}</h2>
    <p>{description}</p>
  </header>
  <div class="grid w-[min(1160px,100%)] grid-cols-1 gap-4 sm:grid-cols-[repeat(auto-fit,minmax(320px,1fr))]">
    {
      items.map(({ name, description, price, features, isPrincipal }) => (
        <PlanCard name={name} description={description} price={price} features={features} isPrincipal={isPrincipal} />
      ))
    }
  </div>
</section>
